section.welcome{
  background: url(/images/pattern.png), url(/images/welcome.jpg) top center / cover fixed;
  background-position-y: 48px;
  overflow: hidden;
  height: 100%;

  .title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    h1{
      font-size: 3rem;
      color: white;
    }
  }
}
