header#header
  input#menu-control(type='checkbox', name='menu-control')
  label.menu-control(for='menu-control')
  label.menu-control-close(for='menu-control')
  nav#navBar
    img(src='images/elixir.png')
    ul
      li
        a(href='#') INÍCIO
      li
        a(href='#') SOBRE O ELIXIR
      li
        a(href='#') PRODUTOS
      li
        a(href='#') CONTATO
